<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Caeser Cipher</title>
    <style media="screen">
      input{
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <form>
      <p>Enter Text to cipher</p>
      <input type="text" name="str">
      <p>Enter Shift value</p>
      <input type="text" name="num" >
      <input type="submit"  value="Cipher!">
    </form>
    <p><%= message %></p>
  </body>
</html>
